<div class="order-info-row order-info--name">
	<div class="col col-label col-md-3">Name: </div>
	<div class="col col-value col-md-9">{{submission.name}}</div>
</div>
<div class="order-info-row order-info--job_title">
	<div class="col col-label col-md-3">Job Title: </div>
	<div class="col col-value col-md-9">{{submission.jobTitle}}</div>
</div>
<div class="order-info-row order-info--department">
	<div class="col col-label col-md-3">Department: </div>
	<div class="col col-value col-md-9">{{submission.department}}</div>
</div>
<div class="order-info-row order-info--email">
	<div class="col col-label col-md-3">Email Address: </div>
	<div class="col col-value col-md-9">{{submission.email}}</div>
</div>
<div class="order-info-row order-info--phone">
	<div class="col col-label col-md-3">Phone Number: </div>
	<div class="col col-value col-md-9">{{submission.phone}}</div>
</div>
<div class="order-info-row order-info--address">
	<div class="col col-label col-md-3">Street Address: </div>
	<div class="col col-value col-md-9">{{submission.address}}</div>
</div>
<div class="order-info-row order-info--city">
	<div class="col col-label col-md-3">City: </div>
	<div class="col col-value col-md-9">{{submission.city}}</div>
</div>
<div class="order-info-row order-info--state">
	<div class="col col-label col-md-3">State: </div>
	<div class="col col-value col-md-9">{{submission.state}}</div>
</div>
<div class="order-info-row order-info--zip">
	<div class="col col-label col-md-3">Zip Code: </div>
	<div class="col col-value col-md-9">{{submission.zip}}</div>
</div>
<div class="order-info-row order-info--cost_center">
	<div class="col col-label col-md-3">Cost Center Number: </div>
	<div class="col col-value col-md-9">{{submission.costCenterNumber}}</div>
</div>
<div class="order-info-row order-info--employee_id">
	<div class="col col-label col-md-3">Employee ID: </div>
	<div class="col col-value col-md-9">{{submission.employeeID}}</div>
</div>