<div class="cart" *ngIf="cart.length">
	<div class="row header-row">
		<div class="col col-desc col-md-7">Item Description</div>
		<div class="col col-qty col-md-2">Quantity</div>
		<div class="col col-cost col-md-3">Cost</div>
	</div>
	<div class="row table-row" *ngFor="#item of cart">
		<div class="col col-desc col-md-7">{{item.description}}</div>
		<div class="col col-qty col-md-2">{{item.qty}}</div>
		<div class="col col-cost col-md-3">{{item.cost/100 * item.qty | currency:'USD':true:'1.2'}}</div>
	</div>
	<div class="row table-row total-row">
		<div class="order-total col-md-12"><span class="total-label">Subtotal</span>: <span class="total-amount">{{cartTotal | currency:'USD':true:'1.2'}}</span></div>
	</div>
</div>
<div class="cart-empty" *ngIf="cart.length === 0">You have no items in your cart.</div>