<header>
	<div class="container">
		<h1 id="page-title">Kennametal DVD & Poster Order Form</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec augue dictum, accumsan quam id, rhoncus ipsum. Mauris vitae libero tellus. Cras hendrerit feugiat nisi vel sagittis. Phasellus sit amet ullamcorper dui. Donec lobortis leo ac tellus sodales, nec tempor quam imperdiet. Vivamus maximus, elit at feugiat euismod, dolor ipsum gravida magna, non feugiat libero arcu at quam. In hac habitasse platea dictumst. Donec efficitur erat iaculis turpis dictum, at congue nunc lacinia. Curabitur dignissim sapien ut sem vestibulum euismod. Aenean quis ex magna.

		Praesent semper eros sit amet orci cursus, sed convallis leo faucibus. Sed tellus sem, rutrum vel imperdiet varius, fringilla ac turpis. Sed a molestie arcu. Etiam interdum leo neque, non posuere odio convallis id. Nulla quis gravida tellus. Sed pulvinar pulvinar diam, vel pretium lorem cursus vitae. Mauris et nibh euismod ante tristique ullamcorper sed suscipit sapien. Nulla vulputate lacus ut turpis lobortis dapibus. Aenean sodales nisl ac nunc congue, vel pharetra massa rhoncus. Praesent imperdiet enim at orci imperdiet tristique.
		</p>
	</div>
</header>
<div id="content" class="container">
	<ul>
	 <li *ngFor="#product of products">
	 	{{ product | json }}
	 </li>
	</ul>

	<kmt-order-form>
	</kmt-order-form>
</div>