<h2 class="product-title video-title">{{product.title}}</h2>
<div class="product-image video-image" *ngIf="product.image">
	<img [src]="'http://kmt.localhost/assets/images/' + product.image" />
</div>
<div class="form-container">
	<div class="header-row row" [ngSwitch]="customHeader">
		<template ngSwitchDefault>
			<div class="col col-md-12 custom-header" [innerHTML]="customHeader"></div>
		</template>
		<template [ngSwitchWhen]="false">
			<div class="col col-lang col-md-10">Select Language</div>
			<div class="col col-qty col-md-2">Quantity</div>
		</template>
	</div>
	<div class="form-row row" *ngFor="#variation of product.variations">
		<div class="col col-extra col-md-12" [innerHTML]="variation.extra" *ngIf="variation.hasExtra()"></div>
		<div class="col col-lang col-md-10" [innerHTML]="variation.description()" *ngIf="!variation.hasExtra()"></div>
		<div class="col col-qty col-md-2" *ngIf="!variation.hasExtra()">
			<input type="number" [(ngModel)]="quantities[variation.id]" size="2" (change)="qtyChanged(variation)" min=0 />
		</div>
	</div>
</div>